<div class="container">
    <div class="row uk-text-center upload-container">

        <input type="file"
        id="file"
        (change)="handleFileInput($event.target.files)">
        <textarea [(ngModel)] = "postMessage" rows="4" style="width:100%"></textarea>
        <div>{{ postMessage.length }}/420</div>
        <div [hidden]="!PostingEnabled">
            <div (click)="post()" class="btn btn-wrapper btn-default btn-round" style="width:100%">Post</div>
        </div>
        <div [hidden]="PostingEnabled">
            <div class="btn btn-wrapper btn-primary btn-round" style="width:100%">
                Posting enabled in {{ PostingSecondsLeftCounter }} seconds.
            </div>
        </div>

    </div>   
    <div class="text-center" [hidden]="!Posting">
        <h3>Posting...</h3>
        <span style="display:inline-block"><mat-spinner ></mat-spinner></span>
    </div>
    <div class="row board-container text-center" [hidden]="!PostingError">
        <div class="btn btn-wrapper btn-round" style="width:100%">Error Posting</div>
    </div> 
    <br>
    <div class="row uk-text-center board-container" (click)="OpenCatalog()">
        <h2>/{{ postBoard }}/</h2>
    </div>
    <div class="row uk-text-center upload-container" *ngIf="thread !== null">

        <div class="progress-container">
            <div class="row"> 
                <div class="col-lg-1">
                    <span class="comment-name post-header green">{{ thread.IndImmChanPostModelParent.Name }}</span>
                </div>
                <div class="col-lg-3">
                    <span class="comment-time post-header">{{  thread.IndImmChanPostModelParent.Timestamp | date:'medium'}}</span>
                </div>
                <div class="col-lg-7" #elem [id]="thread.IndImmChanPostModelParent.Tx">
                    <span class="comment-time post-header white"><b>Id:</b> 
                        <span style="cursor:pointer" (click)="quoteMessage(thread.IndImmChanPostModelParent.Tx)">{{  thread.IndImmChanPostModelParent.Tx }}
                        </span>
                    </span>
                </div>
            </div>
            <div class="row"> 
                <div class="col-lg-12">
                    <div class="progress-item-container red">
                        {{  thread.IndImmChanPostModelParent.Title }}
                    </div>
                    <div class="progress-item-container" *ngIf="thread.IndImmChanPostModelParent.Base64Image" (click)="ToggleFullSizeFile(thread.IndImmChanPostModelParent)">
                        <img [src]="thread.IndImmChanPostModelParent.Base64Image" width="200px"  [hidden]="thread.IndImmChanPostModelParent.ShowFullSizeFile">
                        <img [src]="thread.IndImmChanPostModelParent.Base64Image" [hidden]="!thread.IndImmChanPostModelParent.ShowFullSizeFile">
                    </div>
                    <div class="progress-item-container" (click)="ManualOverRideShowImage(thread.IndImmChanPostModelParent)" *ngIf="!thread.IndImmChanPostModelParent.ShowImageOverride
                        && thread.IndImmChanPostModelParent.HasImage && !this.Config.ShowImages">
                        <div (click)="ToggleFullSizeFile(thread.IndImmChanPostModelParent)" class="btn btn-wrapper btn-default btn-round" style="width:24%">Image Hidden by Default, Click to show.</div>
                    </div>
                    <div class="progress-item-container">
                        <span [innerHTML]="thread.IndImmChanPostModelParent.Msg"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="thread !== null && thread.IndImmChanPostModelChildren !== null && thread.IndImmChanPostModelChildren.length > 0">
        <div class="row uk-text-center upload-container" *ngFor="let post of thread.IndImmChanPostModelChildren">
            <div class="progress-container">
                <div class="row"> 
                    <div class="col-lg-1">
                        <span class="comment-name post-header green">{{ post.Name }}</span>
                    </div>
                    <div class="col-lg-3">
                        <span class="comment-time post-header">{{  post.Timestamp | date:'medium'}}</span>
                    </div>
                    <div class="col-lg-7" #elem [id]="post.Tx">
                        <span class="comment-time post-header white"><b>Id:</b>
                            <span style="cursor:pointer" (click)="quoteMessage(post.Tx)">{{  post.Tx}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-lg-12">
                        <div class="progress-item-container" *ngIf="post.Base64Image" (click)="ToggleFullSizeFile(post)">
                            <img [src]="post.Base64Image" width="200px"  [hidden]="post.ShowFullSizeFile">
                            <img [src]="post.Base64Image" [hidden]="!post.ShowFullSizeFile">
                        </div>
                        <div class="progress-item-container" (click)="ManualOverRideShowImage(post)" *ngIf="!post.ShowImageOverride
                            && post.HasImage && !this.Config.ShowImages">
                            <div (click)="ToggleFullSizeFile(post)" class="btn btn-wrapper btn-default btn-round" style="width:24%">Image Hidden by Default, Click to show.</div>
                        </div>
                        <div class="progress-item-container">
                            <span [innerHTML]="post.Msg"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" [hidden]="!PostLoading">
        <h3>Loading...</h3>
        <span style="display:inline-block"><mat-spinner ></mat-spinner></span>
    </div>
    <div class="row">
        <div (click)="refresh()" class="btn btn-wrapper btn-primary btn-round" style="width:100%">Refresh</div>
    </div>
</div>