<div class="overlay"></div>
<div class="home-text-wrapper relative container">
    <div class="home-message row">
        <p>BlockChan</p>
        <img src="assets/images/biglogo.png" alt="">
        <h2>Indestructible. Immutable. Infinite Discussion.</h2>
        <h4>Content Hosted on Ripple Blockchain, Images Hosted on InterPlanetary File System</h4>
        <div class="btn btn-wrapper btn-default btn-round" style="width:80%" (click)="viewBoards();">
            View Board List
        </div>
    </div>
</div>