li {
    cursor: pointer;
}

i {
    vertical-align: -7px; 

}

.sideFooter {
    margin-left: 5px;
    margin-right: 5px;
}

.secure-highlight {
    color: red;
}

.gab {
    vertical-align: -7px; 
}
.beta {
    color: rgb(163, 163, 7);
}

.toggle-container{
    background-color: rgba(77, 72, 72, 0.85);
    border-radius: 12px;
    padding:10px;
    margin:10px;
}