<div class="container">
<div class="row uk-text-center upload-container">

    <input type="file"
    id="file"
    (change)="handleFileInput($event.target.files)">
    Title: <input type="text'" [(ngModel)] = "postTitle" style="width:100%"><br>
    <div>{{ postTitle.length }}/80</div>
    Message: <textarea [(ngModel)] = "postMessage" rows="4" style="width:100%"></textarea>
    <div>{{ postMessage.length }}/420</div>
    <div [hidden]="!PostingEnabled">
        <div (click)="post()" class="btn btn-wrapper btn-default btn-round" style="width:100%">Post</div>
    </div>
    <div [hidden]="PostingEnabled">
        <div class="btn btn-wrapper btn-primary btn-round" style="width:100%">
            Posting enabled in {{ PostingSecondsLeftCounter }} seconds.
        </div>
    </div>
</div>    
<div class="text-center" [hidden]="!Posting">
        <h3>Posting...</h3>
        <span style="display:inline-block"><mat-spinner ></mat-spinner></span>
    </div>
    <div class="row board-container text-center" [hidden]="!PostingError">
        <div class="btn btn-wrapper btn-round" style="width:100%">Error Posting</div>
    </div> 
<br>
<div class="row uk-text-center board-container">
<h2>/{{ postBoard }}/</h2>
</div>
<div class="row uk-text-center upload-container">
    <div *ngFor="let row of threads; let i = index">
        <div *ngIf=" i % 6 === 0 " class="row">
            <div *ngFor="let thread of threads.slice(i,i+6)"> 

        
                <div class="col-lg-2" >
                    <div class="progress-container"> 
                        <div class="progress-item-container">
                        {{  thread.IndImmChanPostModelParent.Title | slice:0:140 }}
                        </div>
                        <div class="progress-item-container">
                            Images: {{  thread.ImageReplies }} |&nbsp; Replies: {{  thread.TotalReplies }}
                        </div>
                        <div class="progress-item-container" *ngIf="thread.IndImmChanPostModelParent.Base64Image">
                            <img [src]=" thread.IndImmChanPostModelParent.Base64Image" width="150px">
                        </div>
                        <div class="progress-item-container" (click)="ManualOverRideShowImage(thread.IndImmChanPostModelParent)" *ngIf="!thread.IndImmChanPostModelParent.ShowImageOverride
                            && thread.IndImmChanPostModelParent.HasImage && !this.Config.ShowImages">
                            <div (click)="ToggleFullSizeFile(thread.IndImmChanPostModelParent)" class="btn btn-wrapper btn-primary btn-round click-show">Show Image Preview</div>
                        </div>
                        <div class="progress-item-container">
                            Last: {{  thread.LastCommentTime | date:'medium' }}
                        </div>
                        <div (click)="OpenThread(thread.IndImmChanPostModelParent.Tx)" class="btn btn-wrapper btn-default btn-round" style="width:100%">Open</div>

                    </div>       
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center" [hidden]="!PostLoading">
    <h3>Loading...</h3>
    <span style="display:inline-block"><mat-spinner ></mat-spinner></span>
</div>
<div class="row">
    <div (click)="refresh()" class="btn btn-wrapper btn-primary btn-round" style="width:100%">Refresh</div>
</div>
</div>
<!-- <div class="row" *ngIf="i%3===0">  -->
