    
<div class="container bgblack">

    <div class="section-title text-center">
        <h3>Secure Anonymous Uploading</h3>
    </div>
    <div class="row uk-text-center main-container">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="sub-container">
                <div class="sub-content">
                    <h1>Anonymously Uploading</h1>
                    <div class="sub-body">
                        To upload a file using BlockChan to the Ripple blockchain anonymously, you must hide your identity from two servers. The Ripple Ledger that your post is submitted to and and the IPFS server the image is pinned to (Pinata). 
                    </div>
                    <div class="sub-content">
                        <h2>Anonymously connecting to Ripple Decentralized Network and IPFS</h2>
                        <div class="sub-body">
                            The issue to address is anonymously and securely connecting to a server instance of the ripple blockchain and Pinata (the IPFS api BlockChan uses).
                        </div>
                        <div class="sub-content">
                            <h3>Install Brave Browser</h3>	
                            <div class="sub-body">
                                First, install the Brave Browser (<a href="https://brave.com/">https://brave.com/</a>). This browser offers cutting edge privacy and security with the ability to use Tor (<a href="https://www.torproject.org/">https://www.torproject.org/</a>) which furthers obfuscates the ability for a server to know the actual source of it's client. MAKE SURE you are in a Tor window before proceeding (ALT-SHIFT-N).
                            </div>
                            <h3>Obtain and Setup VPN (Suggested: ProtonMail + ProtonVPN)</h3>	
                            <div class="sub-body">
                                Secondly, while using Brave in a TOR window, you will want to setup a VPN, we suggest using a Proton Email address (<a href="https://protonmail.com/">https://protonmail.com/</a>) and ProtonVPN (<a href="https://protonvpn.com/">https://protonvpn.com/</a>). Email setup is very straight forward and the VPN setup has directions that are well laid out and easy to follow. It is highly advised to upgrade your free account to a paid account which will give you the ability to choose which country your VPN routes through. If you do decide to upgrade, do not pay with a debit card or paypal, but instead use bitcoin. You can follow the steps in the below section on how to Anonymize your bitcoin (or any crypto for that matter).
                            </div>
                            <h3>Burner Phone + Tether</h3>	
                            <div class="sub-body">
                                Lastly, when ready to post w/ BlockChan, for further security, you can use a Burner phone w/ tether internet capability that you purchased with cash as your internet source. 
                            </div>
                            <h3>Notes</h3>
                            <div class="sub-body">
                                There are other privacy browsers w/ tor capabilities that are considered to be better, however Brave is the easiest. There are also other VPN's which are considered more secure. DYOR and due diligence.
                                If you have any suggestions to improve this document, please email us or DM us on twitter.
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>