<div class="container">
<div class="row uk-text-center upload-container">

        <div class="progress-container">
        <div class="row progress-item-container" (click)="OpenPolitics()"> 
                <span class="comment-name post-header green">Politics - /pol/</span>
        </div>
        <div class="row progress-item-container" (click)="OpenBusiness()"> 
                <span class="comment-name post-header green">Business/Finance - /biz/</span>
        </div>            
        <div class="row progress-item-container" (click)="OpenRandom()"> 
                <span class="comment-name post-header green">Random - /b/</span>
        </div>
        </div>
</div>
</div>